<!DOCTYPE html>
<html lang="en">

<head>
    <title>userprofile</title>

</head>
<link rel="stylesheet" type="text/css" href="/static/css/font.css"></link>
<style>
    body {
        width: 100%;
        height: 100%;
        font-family: 'Montserrat';
        background: url("/static/img/userprofileback.png") no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
    
    .container {
        width: 1200px;
        margin: 0 auto;
    }
    
    .header {
        border-bottom: 2px #ffffff solid;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 100px 0;
        position: relative;
    }
    
    .header-user {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
    
    .header-user img {
        width: 120px;
        height: 120px;
        border-radius: 5px;
        border: 2px solid #f0f1f5;
        padding: 3px;
    }
    
    .header-avtar {
        position: relative;
        width: 120px;
        height: 120px;
        cursor: pointer;
    }
    
    .header-avtar input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
    }
    
    .header-user span {
        font-weight: bolder;
        font-size: 18px;
        color: #ffffff;
        margin-left: 10px;
    }
    
    .header-box {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 2px #ffffff solid;
    }
    
    .footer-top-item {
        margin-right: 15px;
        color: #ffffff;
        cursor: pointer;
    }
    
    .footer-top-item-active {
        color: #37a !important;
    }
    
    .footer-bottom-item {
        display: none;
        transition: all 300ms;
    }
    
    .show {
        display: block;
    }
    
    .tag {
        border: 1px solid #409eff;
        line-height: 1;
        margin-left: 20px;
        border-radius: 3px;
    }
    
    .tag span {
        color: greenyellow!important;
    }
    
    .footer-bottom-item {
        padding: 20px 0;
    }
    
    .movie {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .movie-item {
        width: 200px;
        height: 360px;
        transition: all 0.3s;
        overflow: hidden;
    }
    
    .movie img {
        width: 200px;
        height: 300px;
        border-radius: 6px;
    }
    
    .movie-item:hover {
        transform: scale(1.06);
    }
    
    .movie-item div {
        text-align: center;
        color: #fff;
        margin-top: 10px;
    }
    
    .user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .user-item {
        border: 1px dashed #fff;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;
    }
    
    .user-item img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
</style>

<body>
    <div class="container">
        <div class="header">
            <div class="header-user">
                <div class="header-avtar">
                    <% if (user.avatar) { %>
                        <img src="<%= user.avatar %>" id="avatarImg" />
                        <% } %>
                            <% if (!user.avatar) { %>
                                <img src="/static/img/usericon.png" id="avatarImg" />
                                <% } %>
                                    <input type="file" id="avatar" onchange="upload('<%= user._id %>')">
                </div>
                <span>USERNAME： <%= user.username %></span>
                <div class="tag">
                    <% if (user.account_type==='0') { %>
                        <span>ADMIN</span>
                        <% } %>
                            <% if (user.account_type==='1') { %>
                                <span>REGULAR USER</span>
                                <% } %>
                                    <% if (user.account_type==='2') { %>
                                        <span>CONTRIBUTOR</span>
                                        <% } %>
                </div>
            </div>
            <div class="header-box">
                <%- include('./modules/header.ejs'); %>
            </div>
        </div>
        <div class="footer">
            <div class="footer-top">
                <div class="footer-top-item footer-top-item-active">
                    RECOMMEND
                </div>
                <div class="footer-top-item">
                    HISTORY
                </div>
                <div class="footer-top-item">
                    FOLLOWERS
                </div>
                <div class="footer-top-item">
                    SUBSCRIBERS
                </div>
                <div class="footer-top-item">
                    MOVIE UPLOADED
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-item show">
                    <div class="movie">
                        <% recommend.forEach(function(item,index){ %>
                            <div class="movie-item">
                                <a href="/movieinfo?id=<%= item._id %>">
                        <img src="<%= item.Poster %>" alt = "imgFrame">
                      </a>
                                <div class="titleBox">
                                    <%= item.Title %>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
                <div class="footer-bottom-item">
                    <div class="movie">
                        <% movies.forEach(function(item,index){ %>
                            <div class="movie-item">
                                <a href="/movieinfo?id=<%= item._id %>">
                      <img src="<%= item.movie_pic %>" alt = "imgFrame">
                    </a>
                                <div class="titleBox">
                                    <%= item.movie_title %>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
                <div class="footer-bottom-item">
                    <div class="user">
                        <% friend.forEach(function(item,index){ %>
                            <div class="user-item">
                                <a href="/people?id=<%= item.friend_id %>">
                        <img src="<%= item.frientd_avatar %>" alt = "personImg1">
                      </a>
                                <div class="titleBox">
                                    <%= item.frientd_name %>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
                <div class="footer-bottom-item">
                    <div class="user">
                        <% person.forEach(function(item,index){ %>
                            <div class="user-item">
                                <a href="/people?id=<%= item.friend_id %>">
                                <img src="<%= item.frientd_avatar %>" alt = "personImg1">
                            </a>
                                <div class="titleBox">
                                    <%= item.frientd_name %>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
                <div class="footer-bottom-item">
                    <div class="movie">
                        <% publish.forEach(function(item,index){ %>
                            <div class="movie-item">
                                <a href="/movieinfo?id=<%= item._id %>">
                      <img src="<%= item.Poster %>" alt = "imgFrame">
                    </a>
                                <div class="titleBox">
                                    <%= item.Title %>
                                </div>
                            </div>
                            <% }); %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script>
    function upload(id) {
        let formData = new FormData();
        formData.append("photo", $("#avatar")[0].files[0]);
        formData.append("id", id);
        $.ajax({
            url: "/user/photo",
            type: "post",
            processData: false,
            contentType: false,
            xhrFields: {
                withCredentials: true
            },
            data: formData,
            success: (e) => {
                if (e.success) {
                    $("#avatarImg").attr('src', e.avatar)
                }
            },
        });
    }
    $(function() {
        const len = $(".footer-top-item").length;
        $(".footer-top-item").click(function() {
            for (let i = 0; i < len; i++) {
                $(".footer-top-item").eq(i).removeClass('footer-top-item-active')
                $('.footer-bottom-item').eq(i).removeClass('show')
            }
            const index = $(this).index()
            $(this).addClass('footer-top-item-active')
            $('.footer-bottom-item').eq(index).addClass('show')
        })
    })
</script>

</html>